
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Guardar</h1>
<div class="card" style="width: 18rem;">
    <div class="card-header">
        Crear Contacto
    </div>
    <div class="card-body">
        <form> @*FORMULARIO*@
            <div class="col-md-4 mb-3">
                <label for="Nombre"> Nombre </label>
                <input type="text" class="form-control"/>
            </div>
            <div class="col-md-4 mb-3">
                <label for="Telefono"> Teléfono </label>
                <input type="text" class="form-control" />
            </div>
            <div class="col-md-4 mb-3">
                <label for="Correo"> Correo </label>
                <input type="text" class="form-control"/>
            </div>
            <div class="col-md-4 mb-3">
                <label for="Clave"> Clave </label>
                <input type="text" class="form-control" />
            </div>
            <div class="col-md-4 mb-3">
                <button type="submit" class="btn btn-primary mb-3">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>


